<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="About content">
        <h2>This is donation webpage</h2>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>